{{!-- Form Field Partial --}}
{{!-- Usage: {{> partials/form-field name="fieldName" label="Field Label" type="text" value=fieldValue placeholder="Enter value"}} --}}
{{!-- For select: {{> partials/form-field name="fieldName" label="Label" type="select" options=optionArray}} --}}
{{!-- For textarea: {{> partials/form-field name="fieldName" label="Label" type="textarea" value=fieldValue}} --}}
{{!-- For number: {{> partials/form-field name="fieldName" label="Label" type="number" value=fieldValue min="0" max="10"}} --}}
<div class="artificer-form-group">
    {{#if label}}
    <label for="{{name}}" {{#if title}}title="{{title}}"{{/if}}>{{label}}</label>
    {{/if}}
    <div class="artificer-form-fields">
        {{#if isTextarea}}
        <textarea name="{{name}}" id="{{name}}" placeholder="{{placeholder}}">{{value}}</textarea>
        {{else if isSelect}}
        <select name="{{name}}" id="{{name}}">
            {{#each options}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
        </select>
        {{else if isNumber}}
        <input type="number" name="{{name}}" id="{{name}}" value="{{value}}" placeholder="{{placeholder}}" {{#if min}}min="{{min}}"{{/if}} {{#if max}}max="{{max}}"{{/if}} {{#if step}}step="{{step}}"{{/if}}>
        {{else}}
        <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}" placeholder="{{placeholder}}">
        {{/if}}
    </div>
</div>
